<h1>Sessions#index</h1>
<p>Find me in app/views/sessions/index.html.erb</p>

<% if @merchant %>
<h1>Welcome <%=@merchant.email %></h1>
<p></p>
<% else %>
<h1>Please log in</h1>
<% end %>


<% if flash[:notice] %>
<p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
