

<h1>Welcome to Unicorns "R" Us!</h1>
<p>Meeting all your unicorn needs since 2016.</p>

<% @categories.each do |category| %>

  <div class="product-tile">
    <%= image_tag category.products.first.photo, alt: category.name %>
    <p><%= link_to category.name, categories_show_path(category.id) %></p>
  </div>

<% end %>
