

<h1>Welcome to Unicorns "R" Us!</h1>
<p>Meeting all your unicorn needs since 2016.</p>

<% @categories.each do |category| %>

  <section class="product-tile", class="row">
    <div class="small -6 medium-3 columns"><%= image_tag category.products.first.photo, alt: category.name %><%= link_to category.name, categories_show_path(category.id) %></div>
  </section>

<% end %>
