
<h1><%= @store.displayname %></h1>


<% @products.each do |product| %>

  <div class="product-tile">
    <% if product.photo && product.photo != "" %>
      <%= image_tag product.photo, alt: product.name %>
    <% else%>
      <%= image_tag 'default_uni.jpg', alt: product.name %>
    <% end %>
    <p><%= link_to product.name, products_show_path(product.id) %></p>
  </div>

<% end %>
