


<% @browse_by.products.each do |product| %>

  <div class="category-tile">
    <%= image_tag products.first.photo, alt: product.name %>
    <p><%= link_to product.name, products_show_path(product.id) %></p>
  </div>

<% end %>
