<h1>What's in my cart?</h1>

<p><%= flash[:notice] %></p>

<% if session[:order] %>

  <h2>Your cart contains:</h2>

  <% render partial: "ordersummary" %>

<% else %>

  <p>Your cart is empty! That makes the unicorns sad :(</p>

<% end %>

<p><%= link_to "Empty cart", orders_destroy_path %></p>
<p><%= link_to "Keep shopping", root_path %></p>
<p><%= link_to "Check out", carts_edit_path %></p>
