
 // * This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any styles
 // * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 // * file per style scope.
 // *
 // *= require_tree .
 // *= require_self
 // *= require foundation_and_overrides


// import google fonts
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest|Numans');

// Font variables to use in css
$display-font: 'Mystery Quest', cursive;
$body-font: 'Numans', sans-serif;

body {
  font-family: $body-font;
}

header * {
  font-family: $display-font;
}

h1, h2, h3, h4 {
  font-family: $body-font;
}

.links {
  margin: 5%;
}

h1 {
  text-align: center;
}

.pg-title {
  margin: 5%;
  text-align: center;
}

.product-row {
  margin: 2%;
}


.logo {
  width: 70%;
}

header h1 {
  font-size: 4rem;
}

.pg-title {
  margin: 5% 0 5% 0;
}


.product-tile {
  display: inline-block;
  text-align: center;
  margin: 2.5%;
  border: 1px solid lightgray;
  height: 300px;
  width: 300px;
  padding-top: 3%;
}

.product-tile img {
  padding-top: 30px;
  max-height: 180px;
}


.gallery {
  text-align: center;
}

.quantity {
  text-align: center;
}

.quantity-box {
  width: 30%;
}

.see-cart {
  display: block;
  padding-top: 2%;
}


footer {
  border-top: 1px solid grey;
  margin-top: 10%;
  text-align: center;
  background-color: mintcream;
}

footer p {
  margin-top: 1%;
}

tr {
  text-align: center;
}
