

<div class="row">
  <div class="column gallery">
    <h1 class="pg-title">Browse by category</h1>

    <% @categories.each do |category| %>

      <div class="product-tile">
        <%if category.products.first && category.products.first.photo && category.products.first.photo != "" %>
          <%= image_tag category.products.first.photo, alt: category.name %>
        <%else %>
          <%= image_tag 'default_uni.jpg', alt: category.name %>
        <% end %>
        <p><%= link_to category.name, categories_show_path(category.id) %></p>
      </div>

    <% end %>

  </div>
</div>
