##### landing page ######

<%= render "shared/header" %>

<% @categories.each do |category| %>

  <div class="product-tile">
    <%= image_tag category.products.first.photo, alt: category.name %>
    <p><%= link_to category.name, categories_show_path(category.id) %></p>
  </div>

<% end %>
