<h1>Unicorns "R" Us</h1>
<p>Meeting all your unicorn needs since 2016.</p>

<p><%= button_to "Log in", "/auth/github/" %></p>

<p><%= link_to "Browse by store", stores_index_path %></p>

<% @categories.each do |category| %>

  <% if category.products.first != nil %>
    <div class="category-tile">

      <%= image_tag category.products.first.photo, alt: category.name %>
      <p><%= link_to category.name, categories_show_path(category.id) %></p>
    </div>
  <% end %>

<% end %>
